[SddmGreeterTheme]
Name=sddm-astronaut-theme
Description=sddm-astronaut-theme
Author=Zirconium419122
Website=https://github.com/Zirconium419122/sddm-astronaut-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=Themes/astronaut.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6